@import url(https://fonts.googleapis.com/css?family=Poppins:400regular);
@import url(https://fonts.googleapis.com/css2?family=Prosto+One&display=swap);

@font-face {
font-family: 'Avenir Next Cyr Thin';
src: src('./styles/fonts/AvenirNextCyr-Thin.eot');
src: src('./styles/fonts/AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
src('./styles/fonts/AvenirNextCyr-Thin.woff') format('woff'),
src('./styles/fonts/AvenirNextCyr-Thin.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
